

<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/app-assets/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/app-assets/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/app-assets/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/app-assets/site.webmanifest}">

    <title>Edit Custom DB | Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/app-assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"/>


    <!-- Custom styles for this template-->
    <link th:href="@{/app-assets/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="admin_sidebar :: admin_sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->

            <div th:replace="admin_navbar :: admin_navbar"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">



                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">

                                    <form class="customDb" id="createCustomDbForm" method="POST" enctype="utf8">

                                        <div class="col px-1 mb-2">
                                            <p>You can create a custom DB and use it to be used in a Task of a Hackathon. The DB can be reused for many tasks. The Queries  for Custom DB will be a set of queries that will execute on the Database creation. Since this is an independent database, when a task is created with this database, and the user executes submission on this task, during the hackathon, another temporary database will be created for the task submission using the Database queries given below. Then, the user submitted query will be executed against the new temporary database. After this, the temporary database will be deleted.</p>
                                        </div>
                                        <div class="col px-1 mb-2">
                                            <label for="name" class="ms-2 position-absolute" style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Name</span>
                                            </label>

                                            <!-- Hidden input to store the value for submission -->
                                            <input type="hidden" id="name" name="name" th:value="${customDb.name}">

                                            <!-- Disabled input field for user viewing -->
                                            <input type="text" class="form-control mt-2" id="nameDisabled" name="nameDisabled" disabled="disabled" th:value="${customDb.name}">


                                            <span id="nameError" class="alert alert-danger col-sm-12" style="display:none"></span>

                                        </div>

                                        <br/>



                                        <div class="col px-1 mb-2">
                                            <label for="description" class="ms-2 position-absolute" style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Description</span>
                                            </label>
                                            <textarea type="text" class="form-control mt-2" id="description" name="description" required="required" rows="6" cols="100" th:text="${customDb.description}"> </textarea>
                                            <span id="descriptionError" class="alert alert-danger col-sm-12" style="display:none"></span>

                                        </div>

                                        <br/>

                                        <div class="col px-1 mb-2">
                                            <p>Private Notes can be viewed by Admins only.</p>
                                            <label for="privateNotes" class="ms-2 position-absolute"
                                                   style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Private Notes (optional)</span>
                                            </label>
                                            <textarea type="text" class="form-control mt-2" id="privateNotes"
                                                      name="privateNotes" rows="3"
                                                      cols="100" th:text="${customDb.privateNotes}"> </textarea>
                                        </div>

                                        <br/>

                                        <div class="col px-1 mb-2">
                                            <label for="query" class="ms-2 position-absolute" style="margin-top: -0.25rem !important">
                                                <span class="h6 small bg-white text-muted px-1">Queries for Custom DB</span>
                                            </label>
                                            <textarea type="text" class="form-control mt-2" id="query" name="query" required="required" rows="10" cols="100" th:text="${customDb.query}"> </textarea>
                                            <span id="queryError" class="alert alert-danger col-sm-12" style="display:none"></span>

                                        </div>


                                        <input type="hidden" th:field="${customDb.id}" id="id" name="id">


                                        <div class="form-group">
                                            <span id="globalError" class="alert alert-danger col-sm-5" style="display:none"></span>
                                            <span id="globalSuccess" class="alert alert-success col-sm-5 align-items-center" style="display:none">Custom Database Updated!</span>

                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block" >Update Custom DB</button>


                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
         <footer th:replace="footer :: footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->

<script th:src="@{/app-assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/app-assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/app-assets/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/app-assets/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/app-assets/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts
<script th:src="@{/app-assets/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/app-assets/js/demo/chart-pie-demo.js}"></script> -->




<script th:inline="javascript">
    var serverContext = [[@{/}]];

        $(document).ready(function () {
            $('form').submit(function(event) {
                register(event);
            });

        });

    function register(event){

        // window.alert("i am here!");
        console.log("I am here 1");
        event.preventDefault();
        $(".alert").html("").hide();
        $(".error-list").html("");
        // Check if the description is empty
        console.log("I am here 2");
        var description = $("#description").val();
        var query = $("#query").val();
        if (description.trim() === "") {
            // Display an error message or prevent the submission
            $("#descriptionError").show().append("Description is required.<br/>");
            console.log("I am here 3");
            return; // Stop the function here
        }
        console.log("I am here 4");
        if (query.trim() === "") {
            // Display an error message or prevent the submission
            $("#queryError").show().append("Query is required.<br/>");
            console.log("I am here 5");
            return; // Stop the function here
        }
        console.log("I am here 6");
        var formData= $('form').serialize();
        $.post(serverContext + "customdb/edit",formData ,function(data){
            if(data.message == "Successful!"){
                $("#globalSuccess").show().append("Custom DB Updated! <br/>");
                document.getElementById("createCustomDbForm").reset();
                console.log("I am here 7");
            } else{
                $("#globalError").show().append(data.message+"<br/>");
                console.log("I am here 8");
            }

        }).fail(function(data) {
                $("#globalError").show().append(data.message+"<br/>");
            });
    }

</script>



</body>

</html>