
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>General Board | Dashboard</title>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/app-assets/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/app-assets/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/app-assets/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/app-assets/site.webmanifest}">


    <!-- Custom fonts for this template-->
<!--    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" th:href="@{/app-assets/css/bootstrap.min.css.css}" type="text/css">
    <link th:href="@{/app-assets/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/app-assets/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/app-assets/css/style.css}" rel="stylesheet">

    <script th:src="@{/app-assets/js/leaderboard_clock_placement.js}"></script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="admin_sidebar :: admin_sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->

            <div th:replace="admin_navbar :: admin_navbar"></div>

            <div th:unless="${hackOnGoing}">
                <div th:replace="leaderBoardAdditionalDisplay :: leader_board_additional_display"></div>
            </div>

            <div th:if="${hackOnGoing}">
                <div th:replace="generalBoard :: general_board"></div>
            </div>


        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
         <footer th:replace="footer :: footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



<!-- Bootstrap core JavaScript-->

<script th:src="@{/app-assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/app-assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/app-assets/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/app-assets/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<!--<script th:src="@{/app-assets/vendor/chart.js/Chart.min.js}"></script>-->

<!--&lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--<script th:src="@{/app-assets/js/demo/chart-area-demo.js}"></script>-->
<!--<script th:src="@{/app-assets/js/demo/chart-pie-demo.js}"></script>-->


<!--<script>-->

<!--    let timerInSeconds = 0;-->

<!--    setInterval(() => {-->
<!--        timerInSeconds += 1;-->

<!--        if (timerInSeconds >= 3) {-->
<!--            window.location.reload();-->
<!--        }-->
<!--    }, 5000);-->

<!--</script>-->
</body>

</html>